@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif !important;
}
option {
  color: black;
}

/* Tăng chiều cao thanh tiến trình */
#nprogress .bar {
  height: 5px !important;
  background: #049bff !important;
  box-shadow: 0 0 30px #00eaff;
}
#nprogress .spinner {
  display: none !important;
}

.split-container {
  display: flex;
  height: 78vh;
  width: 100%;
}

.split-container>div {
  overflow: auto;
}

.split-container .gutter {
  background-color: #ccc;
  cursor: col-resize;
  width: 10px;
}

.react-datepicker-wrapper{
  width: 100%;
}

/* Giảm kích thước popup lịch */
.react-datepicker {
  font-size: 1.2rem;
  /* Thu nhỏ font */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-height: max-content;
  border: none !important;
}
.react-datepicker__navigation--previous {
  left: 5px;
  top: 5px;
}

.react-datepicker__navigation--next {
  right: 5px;
  top: 5px;
}

/* Điều chỉnh header (tháng, năm, nút prev/next) */
.react-datepicker__header {
  background-color: #f7fafc;
  /* màu nền nhẹ */
  border-bottom: none;
  padding: 8px 0;
}

/* Các nút prev/next icon */
.react-datepicker__navigation {
  top: 12px;
  line-height: 1.5;
  border: none;
  width: 25px;
  height: 25px;
}

/* Ngày trong lịch */
.react-datepicker__day {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 2px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

/* Hover ngày */
.react-datepicker__day:hover {
  background-color: #3182ce;
  cursor: pointer;
}

/* Ngày được chọn */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #2b6cb0;
  color: white;
  border-radius: 6px;
}

.react-datepicker__year-select,
.react-datepicker__month-select
{
  padding: 4px;
  font-size: 14px;
  border-radius: 6px;
}


/* Dropdown chọn tháng/năm */
.react-datepicker__month-dropdown,
.react-datepicker__year-dropdown {
  padding: 4px;
  font-size: 14px;
  border-radius: 6px;
}

/* customQuill.css */
.ql-toolbar.ql-snow {
  border-radius: 8px 8px 0 0;
  background-color: #f0f4f8;
  border: 1px solid #cbd5e0;
}

.ql-container.ql-snow {
  border-radius: 0 0 8px 8px;
  border: 1px solid #cbd5e0;
  min-height: 200px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: white;
}


/* Edit caurosel */
/* Ẩn icon mặc định của slick */
.slick-prev::before,
.slick-next::before {
  display: block !important;
}

/* Tạo nút Prev custom bằng CSS */
.slick-prev {
  left: 8px !important;
  z-index: 1 !important;
  height: 30px !important;
  background-color: #ffffff!important;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slick-prev:hover {
  background-color: #0056b3;
}

/* Tạo nút Next custom bằng CSS */
.slick-next {
  right: 8px !important;
  z-index: 1 !important;
  height: 30px !important;
  background-color: #ffffff !important;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.slick-prev:before,
.slick-next:before{
  font-size: 40px !important;
  color:#000000 !important;
  opacity: 1 !important;
  font-weight: bold !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
