@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
  font-family: sans-serif !important;
  height: 100%;
}

option {
  color: black;
}

/* Tăng chiều cao thanh tiến trình */
#nprogress .bar {
  height: 5px !important;
  background: #049bff !important;
  box-shadow: 0 0 30px #00eaff;
}
#nprogress .spinner {
  display: none !important;
}

.split-container {
  display: flex;
  height: 78vh;
  width: 100%;
}

.split-container>div {
  overflow: auto;
}

.split-container .gutter {
  background-color: #ccc;
  cursor: col-resize;
  width: 10px;
}

.custom-datepicker {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid #0033ff;
}

.custom-datepicker:focus {
  border: 2px solid #0033ff;
}
